<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FingerPaint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Painter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA8908661DBCF581001233FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA89087A1DBCF581001233FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA89088E1DBCF59F001233FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA8908961DBCF5A0001233FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
